.mini-element
	
	position relative
	publicFont()
		background-color darken(#f6f8fa, 3%)
		color lighten(black, 35%)
		font-family 'Redacted Script'
		font-weight bolder
		user-select none
	
	&.type-a
		font-size 1rem
		padding 0.6em 1.1em
		border-radius 0.5em
		publicFont()
		> span
			white-space pre
		> .white-space
			display inline-block
			size 2em 1em
		> .indictor
			position absolute
			pos 0.35em
			background-color #acbcd8
			width 0.3em
			border-radius 0.4em
	
	&.type-b
		font-size 1rem
		width 4em
		height 4em
		border-radius 0.5em
		publicFont()

.fragment-canvas
	z-index 1
	position absolute
	pos 0

.fragment-container
	position absolute
	opacity 0.5
	&-appear
		opacity 0
	&-appear-active
		opacity 0.5
		transition opacity 500ms
