@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');

.mini-element-public-font {
	
	background-color: darken(#f6f8fa, 3%);
	color: lighten(black, 35%);
	// font-family: 'Flow Circular';
	font-family: 'Redacted Script';
	font-weight: bolder;
	user-select: none;
	
}
