/******************************************************************************
 ##############################################################################
 #####                                                                    #####
 #####   Markdown StyleSheet of ui design BreadCard                       #####
 #####                                                                    #####
 #####     !! use it in GLOBAL not in SCOPED                              #####
 #####     -- core: theme: light                                          #####
 #####                                                                    #####
 #####     @author: Sukazyo Workshop                                      #####
 #####     @version： 2.0                                                 #####
 #####                                                                    #####
 ##############################################################################
 ******************************************************************************/

 :root {
	
	--bcm-color-page-background: #ffffff;
	
	--bcm-color-font-base: #223b5c;
	--bcm-color-font-base-link: #409dff;
	--bcm-color-font-base-link-hover: #0033ff;
	--bcm-color-font-base-link-visited: #a27aeb;
	--bcm-color-font-base-link-visited-hover: #5a00ff;
	--bcm-color-font-base-link-focus-bg: #33aee92b;
	--bcm-color-font-base-mark: #257c78;
	--bcm-color-font-base-mark-bg: #ceff818a;
	
	--bcm-color-blockquote-focus: var(--bcm-color-seperator);
	--bcm-color-blockquote-foreground: #949da9;
	
	--bcm-color-list-item-marker-std: #949da9;
	
	--bcm-color-table-background: #f6f8fa;
	/*--bcm-color-table-background: #c7d4e5;*/
	--bcm-color-table-head-background: #77a6e0;
	--bcm-color-table-head-foreground: #f3f5f5;
	--bcm-color-table-foot-background: #e7eef7;
	--bcm-color-table-foot-foreground: #9dabba;
	
	--bcm-color-code-inline-background: #f1f1f1;
	--bcm-color-codeblock-background: #223b5c;
	--bcm-color-codeblock-foreground: aliceblue;
	
	--bcm-color-keyboard-background: #3764e2;
	--bcm-color-keyboard-foreground: #ecedf1;
	
	--bcm-color-seperator: #e2e5e8;
	
}
