@import "~/styles/global"

.footer-container
	z-index 100
	box-sizing border-box
	width 100%
	background-color #f6f8fa
	+dark-mode()
		background-color #302f2f
	&.no-background
		background-color unset
	position relative
	overflow hidden
	use-flex column

.footer-body-connector
	z-index 9
	height 2rem
	background linear-gradient(#ffffffff, #ffffff00)
	+dark-mode()
		background linear-gradient(#000000ff, #00000000)

.message-box
	
	z-index 100
	box-sizing border-box
	margin 28px 36px
	padding 1.5em 3em
	min-height 5rem
	border-radius 0.5em
	background-color #e6ebf1
	font-size 0.8rem
	color #76787a
	+dark-mode()
		background-color #3b3938
		color #bdbcbc
	
	use-flex row
	+onMediaThin()
		use-flex column
	gap 1.2em
	
	p
		clear-pad()
	> .messages
		flex 1 1 0
	> .ext-urls
		flex 0 0 auto
	> .separator
		flex 0 0 auto
		align-self stretch
		width 2px
		+onMediaThin()
			height 2px
			width auto
		border-radius 2px
		background-color #76787a49
		+dark-mode()
			background-color #bdbcbc49
	

.messages
	p
		+ p
			margin-block-start 1em

.ext-urls
	
	use-flex column
	gap 0.55em
	
	> a
		
		font-normalize()
		transition color 300ms
		&:hover
			color #80a8d1
		
		use-flex row
		gap 0.5em
		align-items center
		
	
