.footer-container
	z-index 100
	box-sizing border-box
	padding 28px 36px
	width 100%

.message-box
	
	box-sizing border-box
	padding 1.5em 3em
	min-height 5rem
	border-radius 0.5em
	background-color #e6ebf1
	font-size 0.8rem
	color #76787a
	
	use-flex row
	gap 1em
	
	p
		clear-pad()
	> .copyright
		flex 1 1 0
	> .ext-urls
		flex 0 0 auto
	> .separator
		flex 0 0 auto
		align-self stretch
		width 2px
		border-radius 2px
		background-color #76787a49
	

.ext-urls
	
	use-flex column
	gap 0.55em
	
	> a
		
		font-normalize()
		transition color 300ms
		&:hover
			color #80a8d1
		
		use-flex row
		gap 0.5em
		align-items center
		
	
