.footer-container
	z-index 100
	box-sizing border-box
	padding 28px 36px
	width 100%

.message-box
	
	box-sizing border-box
	padding 1.5em 3em
	min-height 5rem
	border-radius 0.5em
	background-color #e6ebf1
	font-size 0.8rem
	
	color #76787a
	use-flex column
	use-flex-center()
	
	p
		clear-pad()
	
