$header-background = #f6f8fa

.header
	background-color $header-background
	use-flex column
	flex-wrap nowrap
	size 100% 100vh
	overflow hidden
	position relative

.title
	z-index 100
	flex 1 1 0
	use-flex column
	use-flex-center()
	color #564c7f
	text-align center
	> .main-title
		font 700 56px 'Baloo 2'
		letter-spacing .16em
	> .sub-title
		color #69698578
		font-size 18px

.header-body-connector
	z-index 9
	min-height 5rem
	background linear-gradient(#ffffff00, #ffffffff)